*{
  font-family: 'Orbitron', sans-serif;
}

.header {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(black, transparent, black) , url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAH0lEQVQYV2NkwAIYkcT+MzAwgPkwQZAADDDiVYliMgCekAMGwsLv2QAAAABJRU5ErkJggg==') , url('../media/uomospazio.jpg');
    background-size:100% , 4px 4px, 100%;
    background-position: center;
    background-repeat: no-repeat, repeat, no-repeat;
  }

  body{
    background-color: #000;
  }

  :root{
    --main-color: #1364ac;
    --accent-color: #f7df09;
  }

  .text-main{
    color: var(--main-color);
  }

  .text-accent{
    color: var(--accent-color);
  }

  .bg-main{
    background-color: var(--main-color);
  }

  
  .bg-accent{
    background-color: var(--accent-color);
  }

  .space {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(black 5%, transparent, black 95%) , url('../media/spazio.jpg');
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat ;
  }

  .btn-accent{
    background: 
    linear-gradient(to right, var(--accent-color) 2px, transparent 2px) 0 0,
    linear-gradient(to right, var(--accent-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, var(--accent-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, var(--accent-color) 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, var(--accent-color) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, var(--accent-color) 2px, transparent 2px) 100% 0,
    linear-gradient(to top, var(--accent-color) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, var(--accent-color) 2px, transparent 2px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    transition: 0.4s;
  }

  .btn-accent:hover{
    letter-spacing: 4px;
  }

  .card-space {
    flex-shrink: 0;
    height: 320px;
    width: 200px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }


  .bg-slide{
    background-size: cover;
    background-position: center;
    border-bottom: 4px solid var(--accent-color);
    position: relative;
  }

  .bg-slide-1{
    background: url('../media/astrid-quadri-moderni-verticali.jpg');
  }

  .bg-slide-2{
    background: url('../media/bosco-verticale-milano.jpg');
  }

  .bg-slide-3{
    background: url('../media/quadri-moderni-verticali-dandy-2.jpg');
  }

  .bg-slide-4{
    background: url('../media/apollo.jpg');
  }

  .bg-slide-5{
    background: url('../media/eliot_tower_4.jpg');
  }

  .bg-slide::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: -100%;
    background-color: rgba(0,0,0,0.5);
    transition: 0.7s;
  }

  .bg-slide:hover::after{
    top: 0%;
  }

  .card-inner{
    position: absolute;
    bottom: -50px;
    left: 13px;
    transition: 1s;
    opacity: 0;
    z-index: 20;
    color: white;
  }

  .bg-slide:hover .card-inner{
    bottom: 5px;
    opacity: 1;
  }

.wrapperMenu{
  position: fixed;
  top: 40px;
  right: 40px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 99999;
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;


} 

.leftSide{
  position: fixed;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 1s;
}

.activeLeft{
  left: 0%
}

.rightSide{
  position: fixed;
  top: 0px;
  right: -100%;
  width: 100%;
  height: 100vh;
  z-index: 9998;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 1s;
}

.activeRight{
  right: 0%
} 

p{
  margin-bottom: 0px;
}

.voice{
  position: relative;
  left: 0px;
  transition: 0.4s;
}

li.list-group-item.border-0:hover .voice{
  background-color:var(--accent-color) !important;
  transition: 0.4s;
  left: 10px;

}

.bg-border{
  background: 
  linear-gradient(to right, var(--accent-color) 2px, transparent 2px) 0 0,
  linear-gradient(to right, var(--accent-color) 2px, transparent 2px) 0 100%,
  linear-gradient(to left, var(--accent-color) 2px, transparent 2px) 100% 0,
  linear-gradient(to left, var(--accent-color) 2px, transparent 2px) 100% 100%,
  linear-gradient(to bottom, var(--accent-color) 2px, transparent 2px) 0 0,
  linear-gradient(to bottom, var(--accent-color) 2px, transparent 2px) 100% 0,
  linear-gradient(to top, var(--accent-color) 2px, transparent 2px) 0 100%,
  linear-gradient(to top, var(--accent-color) 2px, transparent 2px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 10px 10px;
 
}

.card-border{
  border: 50px solid;
  height: 43vh;
  border-image: url('../media/cornice.png') 150 stretch;
}

.img-card{
  height: 25vh;
  width: 100%;
 
}

.card-border::after{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  content: "";
  background: linear-gradient(black 2%, transparent, black 98%), linear-gradient(90deg, black 2%, transparent, black 98% );
}

.card-caption{
  bottom: 15px;
  z-index: 999;
  font-size: 16px;
}

@media only screen and (max-width:576px) {
  .card-caption{
    bottom: 0px;
    font-size: 15px;
  }
}

.border-left{
  border-radius: 0px !important;
  border-left: 4px solid var(--accent-color) !important;
}

.input-custom{
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid var(--main-color);
}

.border-main{
  border-color: var(--main-color);
}

.border-main:hover{
  background-color: var(--main-color);
}

hr.hr{
  height: 8px;
  background: linear-gradient(90deg, transparent, var(--main-color), transparent);
}

i.hover-i:hover{
  color: var(--main-color);
}

#wrapper{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  z-index: 99999;
}

#triggerMenu{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #222;
  border: 1px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor: pointer;
}

.voice1{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: #222;
  border-radius: 50%;
  border: 1px solid var(--main-color) ;
  z-index: 998;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}


#user.active{
  left: -65px;
}

#list.active{
  top: -45px;
  left: -45px;
}

#settings.active{
  top: -65px;
}

#envelope.active{
  top: -135px;
}

#phone.active{
  top: -215px;
}

.overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0,0,0,0.6);
  transition: 0.4s;
}

.overlay.active{
  width: 100%;
}

.article-heading{
  height: 75vh;
  min-height: 400px;
  background-image: linear-gradient(black, rgba(0,0,0,0.5), black) , url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAH0lEQVQYV2NkwAIYkcT+MzAwgPkwQZAADDDiVYliMgCekAMGwsLv2QAAAABJRU5ErkJggg==') , url('../media/space.jpg');
    background-size:100% , 4px 4px, 100%;
    background-position: center;
    background-repeat: no-repeat, repeat, no-repeat;
}

.article-heading1{
  height: 75vh;
  min-height: 400px;
  background-image: linear-gradient(black, rgba(0,0,0,0.5), black) , url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAH0lEQVQYV2NkwAIYkcT+MzAwgPkwQZAADDDiVYliMgCekAMGwsLv2QAAAABJRU5ErkJggg==') , url('../media/space1.jpg');
    background-size:100% , 4px 4px, 100%;
    background-position: center;
    background-repeat: no-repeat, repeat, no-repeat;
}

.img-crop {
  height: 300px;
  width: 300px;
}